.home{
position: absolute;
margin-top: 15vh;
width: 100%;
z-index: 1;
}


.yours-custom-class{
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 20vh;
    border-color: rgb(23, 24, 23);
    border-width: 10px;
    border-style: solid;
}






.category{
    width: 100%;
    overflow-y: auto;
    position: absolute;
}

.show-more-category{
    width: 100%;
    overflow-y: auto;
    position: absolute;}

.button-class{
    background-color: rgb(86, 137, 214);
    color: white;
}

.sub_category{
    display: block;
    min-height: 1px;
    width: 100%;
    border: 1px solid red;
    overflow: auto;
    height: auto;
}