//@import "../../scss/abstracts/variables";
html{
    /* height: 100%; */
  }
  #root{
    /* height: 100%; */
  }
  body{
    width: 100%;
    margin: 0;
    height: 100% !important;
    background-color: #fafafa;
  }